@import 'tailwindcss';

@theme {
  --color-mono-50: #fafafa;
  --color-mono-100: #f5f5f5;
  --color-mono-200: #e5e5e5;
  --color-mono-300: #d4d4d4;
  --color-mono-400: #a3a3a3;
  --color-mono-500: #737373;
  --color-mono-600: #525252;
  --color-mono-700: #404040;
  --color-mono-800: #262626;
  --color-mono-900: #171717;
  --color-mono-950: #0a0a0a;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
